.sky{
    position: absolute;
    width: 100%;
    left: 50%; top: 15%;
}

.moon{
    display: block;
    position: absolute;
}
.sun {
  width: 210px;
  height: 210px;
  background: #dda54e;
  border-radius: 50%;
  position: absolute;
    left: 70%; top: 30%;
  box-shadow: 0 0 30px 10px #FFD70080;
}
.sun::before,
.sun::after {
  content: '';
  position: absolute;
  left: 50%; top: 50%;
  width: 220px; height: 220px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: repeating-conic-gradient(#FFD700 0 10deg, transparent 10deg 20deg);
  opacity: 0.5;
}
.sun::after {
  width: 220px; height: 220px;
  opacity: 0.3;
}
body.darkmode {
	background: black;
	color: white;

	/*	redefine a CSS variable */
	--accent-color: rgb(0,255,0);
}

body.darkmode button{
	color: white;
}
