* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lucida Console", Monaco, monospace;
}
body {
	background-color: #467095;
}
.content {
	color: #b2b7b6;
	background-color: #467095;
	font-weight: 400;
	font-size: 30px;
	text-shadow: #24394c 1px 1px 2px;
	line-height: 40px;
	text-align: center;
	position: static;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	width: 50%;
	padding: 0px 16px 200px 16px;
	border-radius: 8px;
	z-index: 0;
}
p{
	margin-top: 40px;
}
.footer {
	text-shadow: #151d25 0.5px 1px 1px;
	z-index: 10000;
	color: #e6bf16;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 1000px;
	padding: 70px 130px;
	background: none;
}

.footer a:visited,
.footer a:link {
	text-decoration: none;
}

h1{
	color: #9fc824;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-align: left;
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	padding: 10px 16px;
	border-radius: 8px;

	z-index: -1;
}
.navigation  {
	position: fixed;
	top: 20px;
	right:40px;
	background: #b2b7b6;
	padding: 10px 10px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.08);
	z-index: 10000;
	opacity: 0;
	transition: opacity 0.3s;
	line-height: 2;
}
.navigation-mobile  {
	text-shadow: #151d25 1px 1px 2px;
	font-size: 40px;
	position: fixed;
	top: 115px;
	right: 70px;
	color:#b2b7b6;
}
.navigation:hover {
	opacity: 1;
}
.handmade {
	position: fixed;
	left: 5%;
	bottom: 35%;
	background: #d6dcda;
	padding: 10px 16px;
	border-radius: 3px;
	box-shadow: 0 1px 6px #151d25ca;
	font-size: 14px;
	line-height: 1.5;
	z-index: 10000;
	color: #005800ad;
}
a {
	color: green;
}
a:visited {
	color: #005800ad;
}
a:link {
	color: #005800ad;
}
