* {
            margin: 10;
            padding: 10;
            box-sizing: center;
            font-family: 'Georgia', serif;
        }
p {
	color: green;
	font-weight: 600;
	font-style: inherit;
	font-size: 70px;
	line-height: 20px;
text-align: center;
}
a {
	color: green;
}
a:hover { /* link on hover */
color: red;
}
#:hover 
:visited 
:active
:link
:first-child
:nth-child(2)
:before
:after
(...)