* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lucida Console", Monaco, monospace
}
body {
	background-color: #467095;
}
p {
	color: #b2b7b6;
	font-weight: 400;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: normal;
	text-align: start;
	position: -webkit-sticky;
	top: 30%;
	right: 25%;
	width: 50%;
	padding: 1px 16px;
	border-radius: 8px;
	z-index: 10000;
}
a {
	color: green;
}
a:hover { /* link on hover */
	color: rgba(0, 128, 0, 0.681);
}
a:visited {
	color: rgb(255, 234, 0);
}
a:active {
	color: rgb(255, 0, 0);
}
a:link {
	color: rgb(0, 75, 128);
}
/* 悬浮进度条容器 */
.progress-box {
	position: fixed;
	top: 200px;
	right: 20px;
	width: 0px;
	background: rgb(70, 112, 154);
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(85, 85, 85, 0.928);
	z-index: 9999;
	padding: 16px;
}

/* 进度条本体 */
.progress-bar-bg {
	width: 100%;
	height: 12px;
	background: #06b00f;
	border-radius: 6px;
	overflow: hidden;
	margin-top: 8px;
}

.progress-bar-fill {
	height: 100%;
	width: 0%;
	background: linear-gradient(90deg, #4caf50, #81c784);
	border-radius: 6px;
	transition: width 0.3s;
}